* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
}

body {
    background-color: black;
    width: 1440px;
    margin: auto;
}

.header {
    background-color: #1F2937;
    display: flex;
    
    flex-direction: column;
    
}

.header, .section, .inspiration, .contact, .footer {
    padding: 0 200px;
    height: 500px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

}

.links {
    display: flex;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.main {
    display: flex;
    padding: 100px 0;
    gap: 24px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.main>* {
    flex: 1; 
}

.button  {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 1px;
    border-radius: 5px;
    margin-top: 12px;
    width: 100px;
    text-align: center;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}


a {
   text-decoration: none; 
   color: #e5e7eb;
   font-size: 18px;
   margin-left: 24px;
}

ul {
    list-style-type: none;
}

.section {
    background-color: #F9FAF8;

}

.img-subtext {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}