* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
}



.header {
    background-color: #1F2937;
    display: flex;
    padding: 0 200px;
    flex-direction: column;
    
}


.header .container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;


}

.links {
    display: flex;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.main {
    display: flex;
    padding: 100px 0;
    gap: 24px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.main>* {
    flex: 1; 
}

.button  {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 1px;
    border-radius: 5px;
    margin-top: 12px;
    width: 100px;
    text-align: center;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}


a {
   text-decoration: none; 
   color: #e5e7eb;
   font-size: 18px;
   margin-left: 24px;
}

ul {
    list-style-type: none;
}

.section {
    background-color: #F9FAF8;

}

.img-subtext {
    display: flex; 
    justify-content: center;
    gap: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 10px;
}

.info {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.section .container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50PX;
}

.subtext {
    text-align: center;
}

img { 
    border-radius: 5px;
}

.inspiration {
    background-color: #e5e7eb;
    padding: 0 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.author {
    font-size: 20px;
    font-weight: 600;
    align-self:flex-end
}

.contact {
   padding: 50px 90px;
}

.contact-container {
    display: flex;
    background-color: #3883f6;
    padding: 50px 150px;
    justify-content: space-between;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 18px;
}

.contact-info .call {
    font-size: 24px;
    font-weight: 700;
    color: white
}

.sign {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 1px;
    border-radius: 5px;
    margin-top: 12px;
    width: 150px;
    text-align: center;
    border: white solid 2px;
    font-weight: 600;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}